.about {
    font-family: 'roboto';
    color: #000;
    font-size: 35px;
    border-radius: 5px;
    margin: 0 24px;
    height: 500px;
    background-color: #fff;
    
    h1{
        text-align: center;
        padding: 35px;
    }

    h3{
        margin-left: 175px;
    }

    input{
        margin-left: 175px;
        margin-right: 8px;
        width: 50%;
        padding: 12px 20px;
        box-sizing: border-box;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border-radius: 12px;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        cursor: pointer;        
    }      

    span{
        font-style: italic;
        color: #fff;
        background-image: 
        linear-gradient(45deg,#ff0078,#f6efa7);
        padding: 5px;
    }

}