.about {
    font-family: 'Segoe UI';
    color: #000;
    font-size: 35px;
    width: 1000px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 280px;
    margin-top: -350px;
    margin-bottom: 20px;
    border: solid;
    
    span{
        background-image: 
        linear-gradient(45deg,#bdc3c7 , #2c3e50);
    }

    h1{
        font-style: bold;
        text-align: center
    }

    h2{
        font-style: italic;
        margin-top: 15px;
        text-align: center;
    }

    p{
        color: #5c5c5c;
        text-align: justify;
        padding: 15px;
    }


}