.Header {
    margin: 1.0rem 500px;
    width: 310px;
    height: 75px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    align-items: center;
    

  
    .Title {
        margin-top: -25px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 25px;
        color: #000;
        position: relative;
        text-align: center;
        cursor: pointer;
    }

  }