.Menu {
    margin: 0 24px;
    margin-top: 130px;
    display: inline-block;
    padding: 15px;
    font-family: 'Segoe UI';
    color: #fff;
    font-size: 35px;
    width: 210px;
    height: 210px;
    background-color: #000000;
    border-radius: 5px;


    nav{
        text-align: center;
    }
    
    ul {
        margin-top: 15px;
        list-style-type: none;
        text-align: left;
        margin-left: -25px;
    }
  
    a {
      text-decoration: none;
      color: #fff;
      font-size: 25px;
    }
  }